body {
  --bg-primary: black;
  --text-primary: rgb(170,170,170);  
  --text-secondary: var(--text-primary);
}

/* Wider chat window */
.xl\:max-w-\[48rem\], .max-w-\[80\%\] {
    max-width: 100%;
}

.mx-auto {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
}

code, pre {
    font-family: "JetBrains Mono" !important;
}

code:not(:has(> span)) {
  border-width: .5px;
  border-color: hsl(51 16.5% 84.5% / .15);
  border-radius: .4rem;
}

.cm-editor * {
    font-size: 9pt;
    font-family: "JetBrains Mono" !important;
}

.dark {
    --main-surface-background: black;
    --main-surface-primary: black;
    --main-surface-secondary: black;
    --main-surface-tertiary: black;
    --main-surface-selected: black;
   
    /*--text-tertiary: */
    /*--text-quaternary: */
   
    --border-medium: #080808;
}

.prose {
  --tw-prose-body: rgb(170,170,170);
}

.dark\:prose-invert:is(.dark *) :where(code):not(:where([class~="not-prose"] *)) {
    color: #d2ad6b;
    background-color: #131516;
}

.prose strong:not(:is(h1,h2,h3,h4) strong) {
    /*color: #28b463;*/
    color: rgb(220,220,220);
}

.prose :is(h1,h2,h3,h4) strong {
    color: #ffcb3d;
}

.prose :is(h1,h2,h3,h4,h5,h6) {
    color: #ffcb3d;
}

.dark {
    --class: #ff99ff;
    --kw: #9999ff;
}

.dark code[class*="language-"] {
    color: var(--text-primary);
}

.dark .hljs-title.class_, .dark .hljs-type {
    color: var(--class);
}

.dark .hljs-keyword {
    color: var(--kw);
}

.dark .hljs-number, .dark .hljs-string {
    color: #ffcc66;
}

.dark .hljs-title.function_.invoke__ {
    color: white;
}

.dark .hljs-title.function_ {
    color: var(--text-primary);
}

.dark .hljs-variable {
    color: var(--text-primary);    
}

:is(.light .dark,.dark) code[class*="language-"] {
  color: rgb(170,170,170);
}

section.popover,
.bg-token-sidebar-surface-primary,
.dark\:prose-invert:is(.dark *) :where(code):not(:where([class~="not-prose"] *))
{
  background-color: rgb(5, 5, 5);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.3' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: overlay;
}

a {
  color: rgb(170,170,170);
}
aside h2 {
  color: #ffcb3d;
}
