:root.sans-serif {
  --font-family: "Segoe UI";
  --font-family-code: "JetBrains Mono";
}

:root[data-theme="dark"] {
  --main-background-color: black;
  --sidebar-background-color: black;
  --main-color: rgb(170,170,170);
  --headings-border-bottom-color: black;
}

code {
  font-family: var(--font-family-code);
  font-size: 10pt;
}

pre, pre code *, .docblock code {
  background-color: rgb(5, 5, 5);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.3' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: overlay;
}

.docblock :not(pre) > code, a code {
  border-width: .5px;
  border-color: hsl(51 16.5% 84.5% / .15);
  border-radius: .4rem;
  font-family: var(--font-family-code);  
  color: #d2ad6b;
  background-color: #131516;
  padding: .15rem .3rem;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI";
  color: #ffcb3d;
}

.search-input {
  background-color: black;
  color: rgb(170,170,170);
  border: 1px solid rgb(85,85,85);
}

.sidebar :is(h1,h2,h3,h4,h5,h6) a, .sidebar :is(h1,h2,h3,h4,h5,h6) {
  color: rgb(250,250,250)
}
.sidebar a {
  color: rgb(170,170,170);
}
