:root {
  --surface-base: var(--my-bg);
  --background: var(--my-bg);
  --background-secondary: var(--my-bg);
  --button-filled: var(--my-text);

  --foreground: var(--my-text);
  --primary: var(--my-text);
  --fg-primary: var(--my-text);
  
  --font-ibm-plex-mono: var(--my-fontcode);
  --surface-inset: var(--my-panel-bgcolor);
  
  --gutter-content: 0;
  --context-max-width: 100%;
}

.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)),
.prose :where(li):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--my-text);
}

.prose :where(strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--my-strong);
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--my-heading);
  font-family: "Fira Sans";
}

.\!font-mono, code, kbd, pre, samp {
  font-family: var(--my-fontcode) !important;
}

.dark\:text-orange-200:is(.dark *) {
  color: var(--my-inlinecode-color);
}
.dark\:bg-orange-300\/10:is(.dark *) {
  background: var(--my-inlinecode-bg);
  border: var(--my-inlinecode-border);
  border-radius: var(--my-inlinecode-border-radius);
}

[class*="max-w-"] {
  max-width: 100vw !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.border-card-border.bg-foreground, .bg-surface-l2 {
  background: var(--my-panel-bgcolor);
}

.text-fg-primary, .text-primary {
  color: var(--my-text);
}

.prose {
  line-height: unset;
}

.font-body {
  font-family: var(--my-font);
}

.prose :where(th):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--my-strong);
}

.prose :where(tbody tr):not(:where([class~=not-prose],[class~=not-prose] *)),
.border-primary\/20 {
  border-bottom-width: 1px;
  border-color: rgb(40,40,40);
}
