:root {
  --my-bg: black;
  --my-text: rgb(170,170,170);
  --my-bullet: rgb(100,100,100);
  --my-heading: #ffcb3d;
  --my-strong: rgb(220,220,220);
  --my-panel-bgcolor: rgb(12,12,12);
  --my-panel-bgimage: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.3' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --my-panel-bgblend: overlay;
  --my-font: "Roboto";
  --my-fontcode: "JetBrains Mono";
  --my-fontheading: "Fira Sans";
  --my-inlinecode-color: #00AAAA;
  --my-high-string: #ffcc66;
  --my-high-kw: #9999ff;
  --my-high-type: #ff99ff;
}
